.container{
  max-width: 700px;
  margin: auto;
}


.element{
  padding: 20px;
}

.dark .element{
  background-color: #212529;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 30px;
}

.table__row{
  cursor: pointer;
}

.table-container{
  max-height: 30.75rem;
  overflow: auto;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;;
  thead{
    position: sticky;
    top: 0;
  }
}

.selected{
  td{
    background-color: #dc3545 !important;

  }
}

